.vt-switch:hover {
  border-color: var(--vt-c-gray);
}

.vt-switch-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--vt-c-text-2);
}

.dark .vt-switch-icon svg {
  fill: var(--vt-c-text-1);
  transition: opacity 0.25s;
}
