.vt-switch-appearance-sun, .dark .vt-switch-appearance-moon {
  display: none;
}

.dark .vt-switch-appearance-sun {
  display: block;
}

/* .dark .vt-switch-appearance .vt-switch-check {
  transform: translateX(18px);
} */
